*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing:border-box ;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    box-sizing:border-box ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --bg-color:#000508;
    --second-bg-color:#030d16;
    --text-color:#ededed;
    --main-color:#00abf0;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;

}
body{
    background: var(--bg-color);
    color: var(--text-color);

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: linear-gradient(to right,rgb(124, 223, 218),rgb(2, 20, 22));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
    box-shadow: 0 0 50PX rgb(156, 238, 145);
}
.header.sticky{
    background: var(--main-color);
}
.logo{
    font-size: 3.5rem;
   
    font-weight: 600;
    background: linear-gradient(to right,rgb(0, 0, 0),rgb(228, 16, 80));
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 20px rgb(202, 184, 23);
    animation: ani 1s infinite alternate;
}
@keyframes ani{
100%{
    text-shadow: 0 0 60px rgb(202, 23, 38);
}
}

.navigationbar a{
    font-size: 2.3rem;
    color: rgb(249, 251, 252);
    font-weight: 750;
    margin-left: 4.5rem;
    transition: .3sS;
    text-shadow: 5 5 10px rgb(32, 149, 218);
  
    
}

.navigationbar a:hover,
.navigationbar a.active{
    color: var(--main-color);
    
}

footer{
    width: 100%;
}

.fBox{
    background-color: #000000;
    background-image: linear-gradient(to right,rgb(2, 12, 17),rgb(40, 221, 245));;;
    
    width: 100%;
    text-align: left;
    min-height: 40px;
}

.fBox p {
    background: linear-gradient(to right,rgb(199, 231, 83),rgb(34, 4, 4));
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 10px rgb(199, 202, 23);
    animation: aniM 1s infinite alternate;
    font-size: 2rem;
    font-weight: 600;
}

@keyframes aniM{
100%{
    text-shadow: 0 0 60px rgb(202, 23, 23);
}
}
.cBox{
    width: 50%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 30px;
   
    background:linear-gradient(to right,rgb(0, 0, 0),rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 5rem;
    box-shadow: 0px 0px 30px rgb(41, 188, 199);
    border-radius: 10%;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    box-shadow: 1px 1px 10px black;
    border-radius: 80px;
}

.rightBox img{
    height: 400px;
    border-radius: 80px;
    transition: all 0.6s linear 0s;
}

.rightBox:hover{
    transform: scale(1.1);
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftBox h2{
    font-size: 2.5rem;
    background: linear-gradient(to right,rgb(32, 228, 14),rgb(185, 153, 168));
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 20px rgb(202, 184, 23);
    animation: ani 1s infinite alternate;
    
}

.ingBox{
    font-size: 1.5rem;
    background: white;
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
}


.recipeBox{
    font-size: 1.5rem;
    background: linear-gradient(to right,rgb(204, 241, 238),rgb(186, 204, 85));
    color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}

.rightBox:hover .overlay{
    opacity: 1;
}

.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}
.homeimgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    
    transition: 2.5s;
}

.homeimgHover:hover{
    background: #000305;
    opacity: .6;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: transparent; 
    padding-bottom: 6rem;
    
}
.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
   color: var(--main-color);
   text-shadow: 0 0 60px rgb(202, 23, 53);
   animation: ani 1s infinite alternate;
   
}

span{
    color: var(--text-color);
}
.aboutimg{
    position: relative;
    width: 25rem;
    height: 28rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.aboutimg img{
    height: 80%;
    width: 80%;
    border-radius: 50%;
    border: .5rem solid rgb(245, 46, 46);
    box-shadow:0 0 40px rgb(224, 235, 66); 
    
}
.aboutimg .circle-spin{
    position: absolute;
    width: 100%;
    height: 90%;
    border-radius: 150%;
    border-top: .9rem solid rgb(1, 11, 12);
    border-right: .9rem solid rgb(194, 32, 32);
    animation: rotate 1s 
    infinite;
}
 @keyframes rotate{
    100%{
        rotate: -360deg;
    }
 }
 .aboutimg .circle-spin2{
    position: absolute;
    width: 120%;
    height: 110%;
    border-radius: 150%;
    border-left: .9rem solid rgb(0, 0, 3);
    border-bottom: .9rem solid rgb(199, 34, 34);
    animation: rota 1s 
    infinite;
}
@keyframes rota{
    100%{
        rotate: 360deg;
    }
 }
.aboutcontent{
    text-align: center;
}

.aboutcontent h3{
    font-size: 2.6rem;
    font-weight: 900;
    
    background: linear-gradient(to right,rgb(15, 3, 4),rgb(201, 18, 18));
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 60px rgb(202, 23, 23);
    animation: ani 1s infinite alternate;
}
@keyframes ani{
100%{
    text-shadow: 0 0 60px rgb(111, 221, 138);
}
}

.aboutcontent p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btnbox.btns{
    display: inline-block;
    font-size: 3rem;
    background: linear-gradient(to right,rgb(251, 255, 0),rgb(255, 0, 76));
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    animation: ani 1s infinite alternate;
    width: 15rem;
}
.btnbox.btns a::before{
    background: white;
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;

}

.contact form .inputbox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputbox .inputfield{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .inputbox .inputfield input,
.contact form .textareafield textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .3rem solid var(--main-color);
    box-shadow: 0 0 70px #063547;
    
}

.contact form .inputbox .inputfield input::placeholder,
.contact form .textareafield textarea::placeholder{
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #063547;
    border-radius: .6rem;
    z-index: -1;
    transition: .4s;
}

.contact form .inputbox .inputfield input:focus~.focus,
.contact form .inputbox .inputfield input:valid~.focus,
.contact form .textareafield textarea:focus~.focus,
.contact form .textareafield textarea:valid~.focus{
width: 100%;
}
.contact form .textareafield{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;

}

.contact form .textareafield textarea{
    resize: none;

}

.contact form .btn-box.btn-box.btns .btn{
    cursor: pointer;
    box-shadow: 0 0 50px rgb(0, 247, 255);
    animation: ni 1s infinite alternate-reverse;
}
.cBox2{
    width: 50%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 30px;
    background:linear-gradient(to right,rgb(0, 0, 0),rgb(4, 4, 31));
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 5rem;
    box-shadow: 0px 0px 30px rgb(41, 188, 199);
    border-radius: 10%;
}

.cBox1{
    width: 50%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 30px;
    background:linear-gradient(to right,rgb(0, 0, 0),rgb(2, 18, 29));
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 5rem;
    box-shadow: 0px 0px 30px rgb(41, 188, 199);
    border-radius: 10%;
}
.btnbox{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 30.5rem;
    height: 4rem;
   
}

.btnbox .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 120%;
    background-color: #ededed;
    border: .4rem solid var(--main-color);
    border-radius: 30%;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .4s;
    box-shadow: 0 0 70px rgb(80, 188, 231);
}
.btnbox .btn:hover{
    
    color: var(--main-color);
}

@media(max-width:700px){
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem 9%;
        background: linear-gradient(to right,rgb(124, 223, 218),rgb(2, 20, 22));
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        transition: .3s;
        box-shadow: 0 0 50PX rgb(156, 238, 145);
    }
    .header.sticky{
        background: var(--main-color);
    }
    .logo{
        font-size: 1.5rem;
       
        font-weight: 700;
        background: linear-gradient(to right,rgb(0, 0, 0),rgb(228, 16, 80));
        color: transparent;
        -webkit-background-clip: text;
        text-shadow: 0 0 20px rgb(202, 184, 23);
        animation: ani 1s infinite alternate;
    }
    @keyframes ani{
    100%{
        text-shadow: 0 0 60px rgb(202, 23, 38);
    }
    }
    
    .navigationbar a{
        font-size: 1.3rem;
        color: rgb(249, 251, 252);
        font-weight: 750;
        margin-left: 2.5rem;
        transition: .3sS;
        text-shadow: 5 5 10px rgb(32, 149, 218);
      
        
    }
    
    .navigationbar a:hover,
    .navigationbar a.active{
        color: var(--main-color);
        
    }
    
    footer{
        width: 100%;
    }
    
    .fBox{
        background-color: #000000;
        background-image: linear-gradient(to right,rgb(2, 12, 17),rgb(40, 221, 245));;;
        
        width: 100%;
        text-align: left;
        min-height: 30px;
    }
    
    .fBox p {
        background: linear-gradient(to right,rgb(199, 231, 83),rgb(34, 4, 4));
        color: transparent;
        -webkit-background-clip: text;
        text-shadow: 0 0 10px rgb(199, 202, 23);
        animation: aniM 1s infinite alternate;
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    @keyframes aniM{
    100%{
        text-shadow: 0 0 60px rgb(202, 23, 23);
    }
    }
    .cBox{
        width: 90%;
        margin: auto;
        margin-top: 120px;
        margin-bottom: 30px;
       
        background:linear-gradient(to right,rgb(0, 0, 0),rgb(0, 0, 0));
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding: 5rem;
        box-shadow: 0px 0px 30px rgb(41, 188, 199);
        border-radius: 10%;
    }
    
    .item{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .rightBox{
        position: relative;
        overflow: hidden;
        transition: all 0.3s linear 0s;
        box-shadow: 1px 1px 10px black;
        border-radius: 70px;
    }
    
    .rightBox img{
        height: 400px;
        border-radius: 80px;
        transition: all 0.6s linear 0s;
    }
    
    .rightBox:hover{
        transform: scale(1.1);
    }
    
    .leftBox{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .leftBox h2{
        font-size: 1.3rem;
        background: linear-gradient(to right,rgb(32, 228, 14),rgb(185, 153, 168));
        color: transparent;
        -webkit-background-clip: text;
        text-shadow: 0 0 20px rgb(202, 184, 23);
        animation: ani 1s infinite alternate;
        
    }
    
    .ingBox{
        font-size: .8rem;
        background: white;
        color: transparent;
        -webkit-background-clip: text;
        font-weight: 800;
    }
    
    
    .recipeBox{
        font-size: .8rem;
        background: linear-gradient(to right,rgb(204, 241, 238),rgb(186, 204, 85));
        color: transparent;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        font-weight: 700;
    }
    
    .rightBox .overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(36, 34, 34, 0.713);
        border-radius: 69px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.3s linear 0s;
    }
    
    .rightBox:hover .overlay{
        opacity: 1;
    }
    
    .rightBox .overlay span{
        color: white;
        font-size: 1.2rem;
    }
    .homeimgHover{
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
        background: transparent;
        
        transition: 2.5s;
    }
    
    .homeimgHover:hover{
        background: #000305;
        opacity: .6;
    }
    
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        background: transparent; 
        padding-bottom: 6rem;
        
    }
    .heading{
        font-size: 3rem;
        margin-bottom: 3rem;
        text-align: center;
       color: var(--main-color);
       text-shadow: 0 0 60px rgb(202, 23, 53);
       animation: ani 1s infinite alternate;
       
    }
    
    span{
        color: var(--text-color);
    }
    .aboutimg{
        position: relative;
        width: 20rem;
        height: 23rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }
    
    .aboutimg img{
        height: 80%;
        width: 80%;
        border-radius: 50%;
        border: .5rem solid rgb(245, 46, 46);
        box-shadow:0 0 40px rgb(224, 235, 66); 
        
    }
    .aboutimg .circle-spin{
        position: absolute;
        width: 100%;
        height: 90%;
        border-radius: 150%;
        border-top: .9rem solid rgb(1, 11, 12);
        border-right: .9rem solid rgb(194, 32, 32);
        animation: rotate 1s 
        infinite;
    }
     @keyframes rotate{
        100%{
            rotate: -360deg;
        }
     }
     .aboutimg .circle-spin2{
        position: absolute;
        width: 120%;
        height: 110%;
        border-radius: 150%;
        border-left: .9rem solid rgb(0, 0, 3);
        border-bottom: .9rem solid rgb(199, 34, 34);
        animation: rota 1s 
        infinite;
    }
    @keyframes rota{
        100%{
            rotate: 360deg;
        }
     }
    .aboutcontent{
        text-align: center;
    }
    
    .aboutcontent h3{
        font-size: 2rem;
        font-weight: 900;
        
        background: linear-gradient(to right,rgb(15, 3, 4),rgb(201, 18, 18));
        color: transparent;
        -webkit-background-clip: text;
        text-shadow: 0 0 60px rgb(202, 23, 23);
        animation: ani 1s infinite alternate;
    }
    @keyframes ani{
    100%{
        text-shadow: 0 0 60px rgb(111, 221, 138);
    }
    }
    
    .aboutcontent p{
        font-size: 1.3rem;
        margin: 2rem 0 3rem;
    }
    
    .btnbox.btns{
        display: inline-block;
        font-size: 2rem;
        background: linear-gradient(to right,rgb(251, 255, 0),rgb(255, 0, 76));
        color: transparent;
        -webkit-background-clip: text;
        text-shadow: 0 0 20px rgb(0, 0, 0);
        animation: ani 1s infinite alternate;
        width: 15rem;
    }
    .btnbox.btns a::before{
        background: white;
    }
    
    .contact{
        min-height: auto;
        padding-bottom: 7rem;
    }
    
    .contact form{
        max-width: 70rem;
        margin: 0 auto;
        text-align: center;
    
    }
    
    .contact form .inputbox{
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .contact form .inputbox .inputfield{
        position: relative;
        width: 49%;
        margin: .8rem 0;
    }
    
    .contact form .inputbox .inputfield input,
    .contact form .textareafield textarea{
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        color: var(--text-color);
        background: transparent;
        border-radius: .6rem;
        border: .3rem solid var(--main-color);
        box-shadow: 0 0 70px #063547;
        
    }
    
    .contact form .inputbox .inputfield input::placeholder,
    .contact form .textareafield textarea::placeholder{
        color: var(--text-color);
    }
    
    .contact form .focus {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #063547;
        border-radius: .6rem;
        z-index: -1;
        transition: .4s;
    }
    
    .contact form .inputbox .inputfield input:focus~.focus,
    .contact form .inputbox .inputfield input:valid~.focus,
    .contact form .textareafield textarea:focus~.focus,
    .contact form .textareafield textarea:valid~.focus{
    width: 100%;
    }
    .contact form .textareafield{
        position: relative;
        margin: .8rem 0 2.7rem;
        display: flex;
    
    }
    
    .contact form .textareafield textarea{
        resize: none;
    
    }
    
    .contact form .btn-box.btn-box.btns .btn{
        cursor: pointer;
        box-shadow: 0 0 50px rgb(0, 247, 255);
        animation: ni 1s infinite alternate-reverse;
    }
    .cBox2{
        width: 90%;
        margin: auto;
        margin-top: 120px;
        margin-bottom: 30px;
        background:linear-gradient(to right,rgb(0, 0, 0),rgb(4, 4, 31));
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding: 5rem;
        box-shadow: 0px 0px 30px rgb(41, 188, 199);
        border-radius: 10%;
    }
    
    .cBox1{
        width: 90%;
        margin: auto;
        margin-top: 120px;
        margin-bottom: 30px;
        background:linear-gradient(to right,rgb(0, 0, 0),rgb(2, 18, 29));
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding: 5rem;
        box-shadow: 0px 0px 30px rgb(41, 188, 199);
        border-radius: 10%;
    }
    .btnbox{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 30.5rem;
        height: 4rem;
       
    }
    
    .btnbox .btn{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 16rem;
        height: 120%;
        background-color: #ededed;
        border: .4rem solid var(--main-color);
        border-radius: 30%;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: .1rem;
        color: var(--bg-color);
        z-index: 1;
        overflow: hidden;
        transition: .4s;
        box-shadow: 0 0 70px rgb(80, 188, 231);
    }
    .btnbox .btn:hover{
        
        color: var(--main-color);
}
}